<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4>Deixe um comentário:</h4>
    <p>Deixe um comentário usando o formulário de comentários.</p>
    <form>
      <div class="form-group">
        <label for="">Nome:</label>
        <input
          type="text"
          class="form-control shadow-effect"
          placeholder=" Enter your name"
        />
      </div>
      <div class="form-group">
        <label for="">Comentário</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control shadow-effect"
          placeholder="Add your comment here"
        ></textarea>
      </div>
      <button class="btn btn-info btn-theme">Adicionar comentário.</button>
    </form>
  </div>
</div>
