<div class="card mb-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comentários (2)</h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Lorena de Castro</h6>
      <small class="text-danger">ÚLTIMA ATUALIZAÇÃO - 05/05/2025</small>
      <div class="mt-3 mb-3">
        Lindo poema.
      </div>
      <a href="#" class="mt-1">Responder</a>
      <a href="#" class="mt-1 ml-3">Ver a resposta</a>
      <hr />
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">Isadora</h6>
      <small class="text-danger">ÚLTIMA ATUALIZAÇÃO - 04/05/2025</small>
      <div class="mt-3 mb-3">
        Poema perfeito!
      </div>
      <a href="#" class="mt-1">Responder</a>
      <a href="#" class="mt-1 ml-3">Ver a resposta</a>
      <hr />
    </div>
  </div>
</div>
