<div class="container">
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="card shadow-effect" routerLink="/categories">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary">
            <i class="fas fa-clipboard-list"></i>
          </h1>
          <h2 class="text-theme-primary">Categoria</h2>
          <p>Gerencie os detalhes da sua categoria aqui.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="card shadow-effect" routerLink="/posts">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary">
            <i class="fas fa-file-image"></i>
          </h1>
          <h2 class="text-theme-primary">Postagens</h2>
          <p>Gerencie os detalhes das suas postagens aqui.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="card shadow-effect" routerLink="/subscribers">
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary">
            <i class="fas fa-user"></i>
          </h1>
          <h2 class="text-theme-primary">Inscritos</h2>
          <p>Gerencie os detalhes das inscrições aqui.</p>
        </div>
      </div>
    </div>
  </div>
</div>
